{% extends "blog/base.html" %}

{% block content %}
	<h3 class="my-4">{{ object.title }}</h3>
	Postado em: {{ object.created_at }} |
	Por: {{ object.author }} |
	Categoria: {{ object.category }}
	<img src="{{ object.banner.url }}" class="img-fluid">
	<p>{{ object.text|safe}}</p>
{% endblock %}

